# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/

# Node & Frontend Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
dist-ssr/

# Environment Variables & Secrets
.env
.env.*
*.env
*.env.*
**/.env
**/.env.*


# IDEs & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary Media Processing Storage
storage/uploads/*
!storage/uploads/.gitkeep
storage/processed/*
!storage/processed/.gitkeep
