# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Generated Reports
reports/

# Generated Images
*.png
*.jpg

# Original videos (don't upload large test videos)
Milestone 2/videos/

# Generated outputs
Milestone 2/outputs/

# Keep folder structure
!Milestone 2/videos/.gitkeep
!Milestone 2/outputs/.gitkeep