opencv-python-headless
mediapipe
pandas
langchain
langchain-groq
langgraph
langsmith
python-dotenv
pymongo
pytest

cloudinary

fastapi
uvicorn
python-multipart
pyjwt
passlib[bcrypt]
mysql-connector-python
reportlab
bcrypt==3.2.0
redis
scipy
celery
psycopg2-binary
httpx
email-validator
pydantic[email]
websockets
psutil
requests
elasticsearch
slowapi

