body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 80px;
}

h1 {
    color: darkblue;
}

button {
    width: 200px;
    padding: 12px;
    margin: 10px;
    font-size: 16px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}