.app-layout{
    display:flex;
    min-height:100vh;
    background:#0B0B0B;
}

.main-layout{
    flex:1;
    margin-left:250px;
    display:flex;
    flex-direction:column;
    min-width:0;
    transition:margin-left .3s ease;
}

/* Main Content */

.content-area{
    flex:1;
    padding:12px 40px 35px;
    overflow-y:auto;
    background:#0B0B0B;
}

/* Tablet */

@media(max-width:992px){

    .main-layout{
        margin-left:85px;
    }

    .content-area{
        padding:30px;
    }

}

/* Mobile */

@media(max-width:768px){

    .main-layout{
        margin-left:0;
    }

    .content-area{
    padding:20px 40px 35px;
}

}