* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: #0f172a;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 60px;

    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.logo h2{
    font-size:28px;
    color:white;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}