.reports-page{
    width:100%;
}

.reports-page h1{
    color:white;
    font-size:36px;
}

.reports-page p{
    color:#9ca3af;
    margin-bottom:30px;
}

.report-card{

    background:#181818;

    border-radius:15px;

    padding:30px;

    border:1px solid #2d2d2d;

}

.report-card h2{
    color:white;
}

.report-info{

    display:flex;

    gap:30px;

    margin:25px 0;

    color:#00FF88;

    font-weight:600;

}

.report-buttons{

    display:flex;

    gap:20px;

}

.report-buttons button{

    background:#00FF88;

    color:black;

    border:none;

    padding:12px 25px;

    border-radius:10px;

    cursor:pointer;

    font-weight:bold;

}