.topbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-bottom:5px;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:14px;
}

/* Search */

.search-box{
    display:flex;
    align-items:center;
    gap:10px;
    background:#181818;
    border:1px solid #2b2b2b;
    border-radius:12px;
    padding:10px 16px;
    transition:.3s;
}

.search-box:hover{
    border-color:#00FF88;
}

.search-box input{
    background:transparent;
    border:none;
    outline:none;
    color:white;
    width:180px;
    font-size:15px;
}

.search-box input::placeholder{
    color:#777;
}

.search-box svg{
    color:#00FF88;
    font-size:16px;
}

/* Notification */

.icon-btn{
    width:46px;
    height:46px;
    border:none;
    border-radius:12px;
    background:#181818;
    color:#00FF88;
    cursor:pointer;
    transition:.3s;
}

.icon-btn:hover{
    background:#00FF88;
    color:#111;
}

.profile-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 16px;
    border:none;
    border-radius:12px;
    background:#181818;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.profile-btn svg{
    font-size:24px;
    color:#00FF88;
}

.profile-btn:hover{
    border:1px solid #00FF88;
}

@media(max-width:768px){

    .topbar{
        justify-content:center;
    }

    .search-box input{
        width:120px;
    }

}

.profile-info{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.profile-name{
    color:white;
    font-size:15px;
    font-weight:600;
}

.profile-role{
    color:#00FF88;
    font-size:12px;
    margin-top:2px;
}

.profile-icon{
    font-size:32px;
}