:root {

    --bg-color: #0B0B0B;
    --sidebar-color: #111111;
    --card-color: #181818;

    --primary: #7CFC00;
    --primary-hover: #66D400;

    --blue: #00B7FF;
    --orange: #FFA500;
    --red: #FF4D4D;

    --text: #FFFFFF;
    --text-secondary: #B6B6B6;

    --border: #2B2B2B;

    --radius: 16px;

    --shadow:
        0 8px 20px rgba(0,0,0,.45);

    --transition: .25s ease;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:var(--bg-color);
    color:var(--text);

    font-family:Inter,sans-serif;
}

a{

    text-decoration:none;
    color:inherit;
}

button{

    cursor:pointer;
    transition:var(--transition);
}