DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sport
REDIS_URL=redis://localhost:6379/0
MONGO_URL=mongodb://localhost:27017/sport
JWT_SECRET=supersecretkey
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
