.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.topbar-left h2{
    color:#fff;
    font-size:30px;
    margin-bottom:6px;
}

.topbar-left p{
    color:#9ca3af;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.search-box{
    display:flex;
    align-items:center;
    gap:10px;
    background:#181818;
    border:1px solid #2b2b2b;
    border-radius:12px;
    padding:10px 15px;
}

.search-box input{
    background:transparent;
    border:none;
    outline:none;
    color:white;
    width:220px;
}

.search-box svg{
    color:#7CFC00;
}

.icon-btn{
    width:46px;
    height:46px;
    border:none;
    border-radius:12px;
    background:#181818;
    color:#7CFC00;
    cursor:pointer;
    transition:.3s;
}

.icon-btn:hover{
    background:#7CFC00;
    color:black;
}

.profile-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px 18px;
    border:none;
    border-radius:12px;
    background:#181818;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.profile-btn svg{
    font-size:24px;
    color:#7CFC00;
}

.profile-btn:hover{
    border:1px solid #7CFC00;
}